<div class="container mt-5 bg-dark" style="padding: 20px">
  <div class="mt-5">
    <h1 class="labels">Exercise Form</h1>
  </div>

  <form [formGroup]="exerciseForm">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="exercise-name" class="form-label labels"
            >Exercise Title</label
          >
          <input
            type="text"
            class="form-control labels letterColor"
            id="exercise-name"
            name="exercise-name"
            formControlName="title"
          />
          <span
            class="mb-1"
            style="color: red"
            *ngIf="customeValidationService.isFieldValid(exerciseForm, 'title')"
            >This is Required</span
          >
        </div>
        <div class="mb-3">
          <label for="exercise-description" class="form-label labels"
            >Exercise Description</label
          >
          <textarea
            class="form-control letterColor"
            id="exercise-description"
            name="exercise-description"
            formControlName="description"
          ></textarea>
          <span
            class="mb-1"
            style="color: red"
            *ngIf="
              customeValidationService.isFieldValid(exerciseForm, 'description')
            "
            >This is Required</span
          >
        </div>
        <div class="mb-3">
          <label for="exercise-duration" class="form-label labels"
            >Maximum time (in hours)</label
          >
          <input
            type="number"
            class="form-control letterColor"
            id="exercise-duration"
            name="exercise-duration"
            min="0"
            formControlName="maximum_time"
          />
          <span
            class="mb-1"
            style="color: red"
            *ngIf="
              customeValidationService.isFieldValid(
                exerciseForm,
                'maximum_time'
              )
            "
            >This is Required</span
          >
        </div>
      </div>
      <div class="col" formArrayName="tasks">
        <div
          class="mb-3"
          *ngFor="
            let child of exerciseForm.get('tasks')['controls'];
            let i = index
          "
          formGroupName="{{ i }}"
        >
          <label for="subtask-name" class="form-label labels"
            >Subtask Name</label
          >
          <div class="d-flex align-items-center">
            <input
              type="text"
              class="form-control"
              id="subtask-name"
              name="subtask-name"
              formControlName="task"
            />

            <button
              type="button"
              class="btn btn-danger btn-sm ms-2"
              (click)="removeTask(i)"
            >
              -
            </button>
          </div>
        </div>

        <div class="mb-3">
          <button
            type="submit"
            class="btn btn-success btn-md"
            (click)="addTask()"
          >
            + Add Subtask
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary" (click)="onclickSave()">
      Save Exercise
    </button>
  </div>
</div>
