<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Progress Tracker</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home"
            >Home</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/admin"
            *ngIf="isMatched(['ROLE_ADMIN'])"
            >Admin Dashboard</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/trainee"
            *ngIf="isMatched(['ROLE_TRAINEE'])"
            >Trainee Dashoboard</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/trainer"
            *ngIf="isMatched(['ROLE_TRAINER'])"
            >Trainer Dashoboard</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/add-user"
            *ngIf="isMatched(['ROLE_ADMIN']) || isMatched(['ROLE_TRAINER'])"
            >Add Users</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/trainee-list"
            *ngIf="isMatched(['ROLE_ADMIN']) || isMatched(['ROLE_TRAINER'])"
            >Trainees</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/trainer-list"
            *ngIf="isMatched(['ROLE_ADMIN'])"
            >Trainers</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/add-exercise"
            *ngIf="isMatched(['ROLE_ADMIN']) || isMatched(['ROLE_TRAINER'])"
            >Add Exercise</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/exercise-list"
            *ngIf="isMatched(['ROLE_ADMIN']) || isMatched(['ROLE_TRAINER'])"
            >Exercises</a
          >
        </li>
      </ul>
      <button
        *ngIf="!isLoogedIn()"
        type="button"
        class="btn btn-success"
        routerLink="/login"
      >
        Login
      </button>
      <button
        *ngIf="isLoogedIn()"
        type="button"
        class="btn btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#logoutModal"
      >
        Logout
      </button>
    </div>
  </div>
</nav>

<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="justify-content: center">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Log out</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" style="justify-content: center">
        Do you want To Log out?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          #closebutton
          class="btn btn-danger"
          (click)="logout()"
          data-bs-dismiss="modal"
        >
          Yes
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
      </div>
    </div>
  </div>
</div>
