<div class="container">
  <div class="row">
    <h1>Progress</h1>
    <div class="col-md-6">
      <canvas id="barchart"> </canvas>
    </div>

    <div class="col-md-6">
      <canvas id="dochart"> </canvas>
    </div>
  </div>

  <div class="row">
    <div class="col-lg w-100" *ngFor="let exercise of ExerciseList">
      <div class="card mb-5" style="width: 18rem">
        <div class="card-body">
          <h2 class="card-subtitle mb-2 text-muted">
            {{ exercise.exercise.title }}
          </h2>
          <p class="card-text mt-2">
            {{ exercise.exercise.description }}
          </p>

          <h5
            class="card-subtitle mb-2 text-muted mt-1"
            *ngFor="let task of exercise.exercise.tasks"
          >
            {{ task }}
          </h5>

          <div class="div d-inline d-flex flex-row mb-1">
            <h5>Maximum time :</h5>
            <h5>{{ exercise.exercise.maximum_time }}h</h5>
          </div>

          <div class="row d-block">
            <div>
              <div class="div d-inline d-flex flex-row mb-3">
                <h4>Status :</h4>
                <h4>{{ exercise.status }}</h4>
              </div>
            </div>
            <div>
              <div class="form-group mb-3" *ngIf="exercise.comment != ''">
                <label for="comment" class="form-label"
                  >Supervisor Comment</label
                >
                <p>{{ exercise.comment }}</p>
              </div>

              <div
                class="div d-inline d-flex flex-row mb-1"
                *ngIf="exercise.Completed_Date != null"
              >
                <h5>Completed Date :</h5>
                <h5>{{ exercise.Completed_Date }}</h5>
              </div>

              <div
                class="div d-inline d-flex flex-row mb-1"
                *ngIf="exercise.Assined_Date != null"
              >
                <h5>Started Date :</h5>
                <h5>{{ exercise.Assined_Date }}</h5>
              </div>

              <div class="row" *ngIf="exercise.status == 'Completed'">
                <div class="form-group mb-3">
                  <label for="comment" class="form-label">Add Comment</label>
                  <textarea
                    class="form-control"
                    name="comment"
                    id="comment"
                    rows="2"
                    [(ngModel)]="exercise.comment"
                  ></textarea>
                </div>
                <div class="col-md-6">
                  <div class="btn btn-info" (click)="onClickSave(exercise)">
                    Save
                  </div>
                </div>
                <div class="col-md-6">
                  <div
                    class="btn btn-success"
                    (click)="onClickChangeState(exercise)"
                  >
                    Inprogress
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
