<div class="container">
  <div class="table-responsive mt-5">
    <table class="table table-striped table-light">
      <thead class="thead-light">
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Phone No</th>
          <th scope="col">Delete User</th>
          <th scope="col">Update User</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList">
          <th scope="row">{{ user.username }}</th>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.phoneNo }}</td>
          <td>
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="deleteStudent(user.id)"
            >
              Delete
            </button>
          </td>

          <td>
            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="onclickEdit(user)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Update
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update User</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-edit-user [user1]="editingUser"></app-edit-user>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
