/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: #f2f2f2;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-style: normal;
  font-weight: 200;
}
/* Container */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

body {
  background: url("/assets/bac6.jpg") no-repeat center center fixed;
  background-size: cover;
}
